.idea/**
*package-lock.json
*node_modules
*dist

./client.DS_Store
./clientnode_modules
./client/dist

# local env files
./client.env.local
./client.env.*.local

# Log files
./clientnpm-debug.log*
./clientyarn-debug.log*
./clientyarn-error.log*
